#logo {
    display: block;
    width: 100px;
    margin: 20px auto 20px auto;
}

#main {
    width: 90%;
    margin: auto;
    text-align: center;
}

#input {
    width: 200px;
    font-size: 15px;
    font-family: monospace;
    padding: 3px;
}

#output {
    font-size: 15px;
    font-family: monospace;
    word-wrap: break-word;
}
