body {
    background-color: #202025;
}

#logo {
    display: block;
    width: 120px;
    margin: 40px auto 30px auto;
}

#main {
    width: 90%;
    margin: auto;
    text-align: center;
}

#input {
    width: 240px;
    font-size: 16px;
    font-family: monospace;
    padding: 3px;
    margin-bottom: 5px;
}

#output {
    color: white;
    font-size: 18px;
    font-family: monospace;
    word-wrap: break-word;
}
