:root {
    --red: #e97058;
    --orange: #e4997b;
    --bg: #202025;
    --bg-dark: #101015;
    font-family: "Ubuntu Mono", monospace;
}

body {
    background-color: var(--bg);
}

#logo {
    display: block; width: 120px;
    height: 120px;
    margin: 40px auto 30px auto;
}

#main {
    width: 90%;
    margin: auto;
    text-align: center;
}

#input {
    width: 240px;
    font-size: 16px;
    font-family: inherit;
    padding: 3px;
    margin-bottom: 5px;
}

#output {
    color: white;
    font-size: 18px;
    word-wrap: break-word;
}

#info {
    text-align: center;
    margin-bottom: 40px;
}

#info a {
    color: var(--orange);
    font-size: 24px;
    text-decoration: none;
}

.help {
    max-width: 800px;
    color: white;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 32px;
}

.help p {
    text-align: left;
}

.help a {
    color: var(--orange);
    text-decoration: none;
}

.help h2 {
    text-align: left;
    margin-top: 30px;
    color: var(--orange);
}

.help code {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 3px;
    border-radius: 3px;
}

.help pre { 
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 6px 10px 6px 10px;
    margin: auto;
    border-radius: 4px;
    display: inline-block;
}

.help li {
    text-align: left;
    margin-top: 16px;
}
