name: Build & deploy site

# TODO: only deploy to main site on tag
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable

      - name: Install wasm-pack
        uses: jetli/wasm-pack-action@v0.4.0
        
      - name: Build with wasm-pack
        run: wasm-pack build --target web --out-dir pkg

      - name: Set deploy location
        id: set-dir
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"
          
          if [[ "$BRANCH" == "main" ]]; then
            echo "subdir=." >> $GITHUB_OUTPUT
          else
            echo "subdir=test" >> $GITHUB_OUTPUT
          fi

      - name: Setup deploy directory
        run: |
          mkdir -p "./deploy/${{ steps.set-dir.outputs.subdir }}"
          cp -r ./pkg "./deploy/${{ steps.set-dir.outputs.subdir }}"
          cp -r ./site "./deploy/${{ steps.set-dir.outputs.subdir }}"
          tree ./deploy

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./deploy

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
